@model IEnumerable<GuestBook.Services.ViewModels.CommentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h1>Гостевая книга</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <h2>@item.FullName</h2>
        <br />
        @item.Description
    }
</div>

<div class="form-group">
    <label for="fullName">Ваше имя:</label>
    <input type="text" class="form-control" id="fullName">
    <br />
    <label for="comment">Отзыв:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <br />
    <button type="button" class="btn btn-default center-block" asp-action="Create">Оставить отзыв</button>
</div>

@*<script type="text/javascript">
    $(document).load(function () {
        $.getJSON('comments', null, function (data) {
            $.each(data, function (index, element) {
                $('#comments').append($('<div>', {
                    text: element.description
                }));
            });
        });
    });
</script>*@
